* {
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100vw;
    height: 45px;
    padding-top: 20px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgb(33, 31, 31), white);
}

#items {
    text-decoration: none;
    font-size: 20px;
    margin-right: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#items-st {
    text-decoration: none;
    background-color: yellow;
    border-radius: 15px;
    padding: 2px;
    color: black;
    font-size: 20px;
    margin-right: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-main-heading {
    font-size: 74px;
    height: 90px;
    background: linear-gradient(to top, rgb(208, 103, 103), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.home-discription {
    font-size: 25px;
    color: white;
}

.button-l {
    height: 45px;
    width: 125px;
    border-radius: 15px;
    font-size: 20px;
    background-image: radial-gradient( white, black);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homepage-header {
    background-image: url('./Screenshot\ 2025-11-01\ 145531.png');
    height: 100vh;
    background-size: cover;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .95;
    text-align: center;
    padding: 10px;
}