.bg-cointainer {
    background-color: rgb(78, 151, 101);
    height: 100vh;
    width: 100vw;
}

.main-box {
    border: solid;
    border-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    width: 45%;
    height: 45%;
}