* {
    padding: 0px;
    margin: 0px;
}

.first-bg-container {
    background-image: linear-gradient( #030D0F, #136876);
    background-size: cover;
    padding: 57px;
}

.sectionhome-second-bg-cotainer {
    background-color: #030D0F;
    background-size: "roboto";
    margin: 15px;
    border-radius: 25px;
    padding: 10px;
    border: solid;
    border-color: aqua;
    border-radius: 30px;
    height: 100vh;
}

h2 {
    color: aliceblue;
    font-size: 25px;
    font-family: "roboto";
}

#nav-button {
    background-color: #FFFFFF;
}

.content-block {
    margin-left: auto;
    padding: 10px;
}

.text-contaner {
    padding: 10px;
}

.name {
    color: aliceblue;
    font-family: "roboto";
    font-size: 200%;
    font-weight: bold;
}

.skill-name {
    color: aliceblue;
    font-family: "roboto";
    font-weight: bold;
    font-size: 25px;
}

.insta-icon {
    color: rgb(223, 41, 111);
    font-size: 45px;
}

.image {
    height: 250px;
    width: 150px;
    border-radius: 15px;
    border-radius: 190px;
}

.imaged {
    height: 450px;
    width: 350px;
    margin-left: 125px;
    border-radius: 25px;
}

.l-soc-links {
    height: 34px;
    margin-left: 14px;
}

.i-soc-links {
    height: 47px;
    width: 47px;
    margin-right: 10px;
}

#nav-heading {
    color: #FFFFFF;
    font-size: 45px;
    margin: 12px;
    font-family: "roboto";
    font-weight: 500;
}

#nav-item1 {
    color: #FFFFFF;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    margin-right: 20px;
}

#nav-item2 {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    margin-right: 20px;
}

#nav-item3 {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    margin-right: 20px;
}

#nav-item4 {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    margin-right: 20px;
}

#nav-item1:hover {
    cursor: pointer;
    font-size: 35px;
    color: rgb(10, 172, 201);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#nav-item2:hover {
    cursor: pointer;
    font-size: 35px;
    color: rgb(10, 172, 201);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#nav-item3:hover {
    cursor: pointer;
    font-size: 35px;
    color: rgb(10, 172, 201);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#nav-item4:hover {
    cursor: pointer;
    font-size: 35px;
    color: rgb(10, 172, 201);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}