* {
    padding: 00;
    margin: 00;
    box-sizing: border-box;
    background: rgb(197, 170, 175);
    background-image: -webkit-image-set;
}

.hed {
    text-align: center;
    padding: 23px;
    color: white;
    background-color: black;
    margin-top: 45px;
    margin-left: 656px;
    margin-bottom: 45px;
    margin-right: 657px;
}

.user {
    text-align: center;
}